<div (click)="openModal()" class="card-container grid grid-rows-4 grid-flow-col gap-2 bg-blue-{{colourIntensity}} border-2 border-gray-500 divide-y-2 divide-gray-500 divide-dashed shadow-lg hover:shadow-inner">
  <div class="row-span-3"></div>
  <div class="row-span-1 text-center"><span class="inline-block align-middle uppercase">{{text}}</span></div>
</div>

<div (click)="closeModal()" [ngClass]="getModalClasses(showModal)">
  <pdf-viewer [ngClass]="showModal ? 'showPdf' : 'hidePdf'" [src]="pdfSrc" [render-text]="true"></pdf-viewer>
</div>
